body{
	font-family: 'Arimo', sans-serif;
}

header{
	display: flex;
	padding: 20px;
}

form, ul{
	display: none;
}

p{
	padding:0;
	margin: 0;
}

.wrapper{
	width:350px;
	height:100px;
	margin: 0 auto;	
	box-sizing: border-box;
	border-top: 10px solid #585858;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #FACC2E;
}

.date{
	font-size: 45px;
	margin-right: 20px;
	color:#585858;
	font-weight: bold;
}

.container{
	margin-top: 3px;
}

.month{
	font-size: 18px;
	color:#585858;
	font-weight: bold;
}

.year{
	font-size: 18px;
	color:#585858;
	font-weight: bold;
}

.day{
	font-size: 18px;
	color:#585858;
	font-weight: bold;
	margin-left: auto;
	align-self: center;
}

.body-list{
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 100%;	
	margin-top: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);

}

.task{
	align-self: center;
	width: 100%;
	margin:0;
	color:#585858;
	font-size:20px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	box-sizing: border-box;
}

.btn{
	display:block;
    width: 60px;
    height: 60px;
    margin: -35px auto;    
    color:#585858;
    font-size:35px;   
    background-color:#FACC2E;
    border:none;
    border-radius:30px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

.form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100%;
}

/*+++++++++++ADD BY JS +++++++++++++*/

.addInput{	
	width:60%;
	border:none;	
	box-shadow: 0 10px 12px -4px rgba(0,0,0,0.5);
}

.list{
	display: block;
	width:100%;
	margin:0;
	padding:0;
	background-color: #FACC2E;
	list-style: none;
}

.item{
	display: flex;
	justify-content: flex-start;
	align-items:center;
	flex: 0 0 auto;
	background-color: #FFFFFF;
	width: 98%;	
	margin:0 auto;
	margin-top: 2px;
	margin-bottom: 3px;
	padding:10px 20px;
	box-sizing:border-box;
	border-radius: 10%;
	
}

.check, .edit, .delete{
	display: block;
	width: 16px;
	height: 16px;	
	background-repeat: no-repeat;
}

.check{
	background-image: url('images/checkmark.svg');
	margin-right: 18px;	
}

.edit{	
	margin-left: auto;
	background-image: url('images/pencil.svg');
	margin-right: 10px;		
}

.delete{
	background-image: url('images/cross.svg')
}


.check:hover, .edit:hover, .delete:hover{
	opacity: 0.8;
}

.inputValue{
	color:#585858;
	min-width: 0;
	max-width: 200px;
}